

<form action="writedata" method="POST">
    <input type="text" name="alert" placeholder="alert" required>
    <input type="text" name="state" placeholder="state" required>
    <input type="number" name="source" placeholder="source" required>

    <button type="submit">Submit</button>
</form>